#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}