#s-329dc7db-da64-4594-bc1a-b7a51efb5970 {
  background-color: transparent;
  background-image: none;
  min-width: 310px;
  min-height: 152px;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-id {
  position: absolute;
  top: 77px;
  left: 9px;
  width: 301px;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #7C8C9A;
  box-shadow: none;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-id tr.odd {
  background-color: #FFFFFF;
  background-image: none;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-id tr.even {
  background-color: #F0F0F0;
  background-image: none;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-Header_1 {
  background-color: transparent;
  background-image: none;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-Row_cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-Row_cell_1 .verticalalign {
  vertical-align: middle;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-Row_cell_1 {
  width: 149px;
  height: 28px;
  background-color: #DFDFDF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #7C8C9A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #7C8C9A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #7C8C9A;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-Label_1 {
  width: 120px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #8C8C8C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 9pt;
  line-height: 9pt;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-Row_cell_3 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-Row_cell_3 .verticalalign {
  vertical-align: middle;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-Row_cell_3 {
  width: 149px;
  height: 28px;
  background-color: #DFDFDF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #7C8C9A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #7C8C9A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #7C8C9A;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-Label_2 {
  width: 120px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #8C8C8C;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 9pt;
  line-height: 9pt;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-id .s-Current_row_1 {
  background-color: transparent;
  background-image: none;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-id .s-Row_cell_2 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-id .s-Row_cell_2 .verticalalign {
  vertical-align: middle;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-id .s-Row_cell_2 {
  width: 149px;
  height: 44px;
  background-color: #F7F7F7;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #7C8C9A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #7C8C9A;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-id .s-Input_1 {
  width: 120px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-id .s-Input_1 .valign {
  vertical-align: middle;
  line-height: 12pt;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-id .s-Input_1 input {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
  min-height: 12pt;
  text-shadow: none;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-id .s-Row_cell_4 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-id .s-Row_cell_4 .verticalalign {
  vertical-align: middle;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-id .s-Row_cell_4 {
  width: 149px;
  height: 44px;
  background-color: #F7F7F7;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #7C8C9A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #7C8C9A;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-id .s-Input_2 {
  width: 120px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-id .s-Input_2 .valign {
  vertical-align: middle;
  line-height: 12pt;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 #s-id .s-Input_2 input {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
  text-shadow: none;
}
.ui-page {
  overflow-x: hidden;
}
#s-329dc7db-da64-4594-bc1a-b7a51efb5970 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}