#s-36e8661f-ca4d-44b2-aff0-b242225e1c08 #s-Button_time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36e8661f-ca4d-44b2-aff0-b242225e1c08 #s-Button_task {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36e8661f-ca4d-44b2-aff0-b242225e1c08 #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36e8661f-ca4d-44b2-aff0-b242225e1c08 #s-Image_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36e8661f-ca4d-44b2-aff0-b242225e1c08 #s-Label_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36e8661f-ca4d-44b2-aff0-b242225e1c08 #s-Label_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36e8661f-ca4d-44b2-aff0-b242225e1c08 #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36e8661f-ca4d-44b2-aff0-b242225e1c08 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-36e8661f-ca4d-44b2-aff0-b242225e1c08 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-36e8661f-ca4d-44b2-aff0-b242225e1c08 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}