#s-36e8661f-ca4d-44b2-aff0-b242225e1c08 #s-Button_time {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 154px;
  height: 47px;
  -ms-transform: rotate(0.0deg);
}
#s-36e8661f-ca4d-44b2-aff0-b242225e1c08 #s-Button_task {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 155px;
  height: 47px;
  -ms-transform: rotate(0.0deg);
}
#s-36e8661f-ca4d-44b2-aff0-b242225e1c08 #s-Label_52 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-36e8661f-ca4d-44b2-aff0-b242225e1c08 #s-Image_65 {
  -ms-transform: rotate(0.0deg);
}
#s-36e8661f-ca4d-44b2-aff0-b242225e1c08 #s-Label_51 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-36e8661f-ca4d-44b2-aff0-b242225e1c08 #s-Label_50 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-36e8661f-ca4d-44b2-aff0-b242225e1c08 #s-Label_54 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-36e8661f-ca4d-44b2-aff0-b242225e1c08 #s-Label_53 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-36e8661f-ca4d-44b2-aff0-b242225e1c08 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 313px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-36e8661f-ca4d-44b2-aff0-b242225e1c08 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}