#s-70e77263-2209-4dc3-af40-dd9db50ecc0f {
  background-color: transparent;
  background-image: none;
  min-width: 320px;
  min-height: 568px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_6 {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 312px;
  height: 37px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 14pt;
  font-family: Arial,Arial;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_6 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 14pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_3 {
  position: absolute;
  top: 133px;
  left: 0px;
  width: 88px;
  height: 27px;
  background-color: #999999;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_4 {
  position: absolute;
  top: 133px;
  left: 224px;
  width: 88px;
  height: 27px;
  background-color: #999999;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_4 span#rtr-s-Rectangle_4_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_5 {
  position: absolute;
  top: 133px;
  left: 112px;
  width: 88px;
  height: 27px;
  background-color: #999999;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Arial,Arial;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_5 span#rtr-s-Rectangle_5_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Category_1 {
  position: absolute;
  top: 179px;
  left: 19px;
  width: 134px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Category_1 .valign {
  width: 106px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Category_2 {
  position: absolute;
  top: 179px;
  left: 171px;
  width: 134px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Category_2 .valign {
  width: 106px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Input_4 {
  position: absolute;
  top: 231px;
  left: 114px;
  padding-left: 22px;
  width: 182px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
  text-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 11pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Input_4 input {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11pt;
  font-style: normal;
  font-weight: 400;
  min-height: 11pt;
  text-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_1 {
  position: absolute;
  top: 231px;
  left: 0px;
  width: 111px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12pt;
  font-family: Roboto-Bold,Arial;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_1 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12pt;
  line-height: 0px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_8 {
  position: absolute;
  top: 518px;
  left: 0px;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Dynamic_Panel_1 {
  position: absolute;
  top: 323px;
  left: 16px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Panel_1 {
  width: 304px;
  height: 196px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Group_30 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 304px;
  height: 48px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_50 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 304px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_50 .valign {
  vertical-align: middle;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_63 {
  position: absolute;
  top: 17px;
  left: 274px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Group_31 {
  position: absolute;
  top: 47px;
  left: 22px;
  width: 285px;
  height: 48px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_51 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 285px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_51 .valign {
  vertical-align: middle;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_64 {
  position: absolute;
  top: 17px;
  left: 259px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Group_32 {
  position: absolute;
  top: 141px;
  left: 22px;
  width: 282px;
  height: 48px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_52 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 282px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_52 .valign {
  vertical-align: middle;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_65 {
  position: absolute;
  top: 17px;
  left: 256px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Group_33 {
  position: absolute;
  top: 94px;
  left: 39px;
  width: 265px;
  height: 48px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_53 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 265px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_53 .valign {
  vertical-align: middle;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_66 {
  position: absolute;
  top: 17px;
  left: 240px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Group_34 {
  position: absolute;
  top: 189px;
  left: 39px;
  width: 265px;
  height: 48px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_54 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 265px;
  height: 47px;
  background-color: #CCCCCC;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_54 .valign {
  vertical-align: middle;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_67 {
  position: absolute;
  top: 17px;
  left: 240px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Panel_2 {
  width: 304px;
  height: 196px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Group_25 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 304px;
  height: 48px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_25 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 304px;
  height: 47px;
  background-color: #CCCCCC;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_25 .valign {
  vertical-align: middle;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_26 {
  position: absolute;
  top: 17px;
  left: 274px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Group_26 {
  position: absolute;
  top: 47px;
  left: 22px;
  width: 285px;
  height: 48px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_26 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 285px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_26 .valign {
  vertical-align: middle;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_27 {
  position: absolute;
  top: 17px;
  left: 259px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Group_27 {
  position: absolute;
  top: 141px;
  left: 22px;
  width: 282px;
  height: 48px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_27 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 282px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_27 .valign {
  vertical-align: middle;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_28 {
  position: absolute;
  top: 17px;
  left: 256px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Group_28 {
  position: absolute;
  top: 94px;
  left: 39px;
  width: 265px;
  height: 48px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_28 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 265px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_28 .valign {
  vertical-align: middle;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_29 {
  position: absolute;
  top: 17px;
  left: 240px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Group_29 {
  position: absolute;
  top: 189px;
  left: 39px;
  width: 265px;
  height: 48px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_29 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 265px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_29 .valign {
  vertical-align: middle;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_30 {
  position: absolute;
  top: 17px;
  left: 240px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Panel_5 {
  width: 304px;
  height: 196px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Group_35 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 304px;
  height: 48px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_30 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 304px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_30 .valign {
  vertical-align: middle;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_31 {
  position: absolute;
  top: 17px;
  left: 274px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Group_36 {
  position: absolute;
  top: 47px;
  left: 22px;
  width: 285px;
  height: 48px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_31 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 285px;
  height: 47px;
  background-color: #CCCCCC;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_31 .valign {
  vertical-align: middle;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_32 {
  position: absolute;
  top: 17px;
  left: 259px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Group_37 {
  position: absolute;
  top: 141px;
  left: 22px;
  width: 282px;
  height: 48px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_32 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 282px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_32 .valign {
  vertical-align: middle;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_33 {
  position: absolute;
  top: 17px;
  left: 256px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Group_70 {
  position: absolute;
  top: 94px;
  left: 39px;
  width: 265px;
  height: 48px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_33 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 265px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_33 .valign {
  vertical-align: middle;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_34 {
  position: absolute;
  top: 17px;
  left: 240px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Group_71 {
  position: absolute;
  top: 189px;
  left: 39px;
  width: 265px;
  height: 48px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_34 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 265px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_34 .valign {
  vertical-align: middle;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_35 {
  position: absolute;
  top: 17px;
  left: 240px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Panel_6 {
  width: 304px;
  height: 196px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Group_72 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 304px;
  height: 48px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_35 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 304px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_35 .valign {
  vertical-align: middle;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_36 {
  position: absolute;
  top: 17px;
  left: 274px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Group_73 {
  position: absolute;
  top: 47px;
  left: 22px;
  width: 285px;
  height: 48px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_36 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 285px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_36 .valign {
  vertical-align: middle;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_37 {
  position: absolute;
  top: 17px;
  left: 259px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Group_74 {
  position: absolute;
  top: 141px;
  left: 22px;
  width: 282px;
  height: 48px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 282px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_37 .valign {
  vertical-align: middle;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_38 {
  position: absolute;
  top: 17px;
  left: 256px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Group_75 {
  position: absolute;
  top: 94px;
  left: 39px;
  width: 265px;
  height: 48px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_38 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 265px;
  height: 47px;
  background-color: #CCCCCC;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_38 .valign {
  vertical-align: middle;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_39 {
  position: absolute;
  top: 17px;
  left: 240px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Group_76 {
  position: absolute;
  top: 189px;
  left: 39px;
  width: 265px;
  height: 48px;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_39 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 265px;
  height: 47px;
  background-color: transparent;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12pt;
  line-height: 12pt;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Label_39 .valign {
  vertical-align: middle;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_40 {
  position: absolute;
  top: 17px;
  left: 240px;
  width: 9px;
  height: 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f #s-Image_104 {
  position: absolute;
  top: 518px;
  left: 270px;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
.ui-page {
  overflow-x: hidden;
}
#s-70e77263-2209-4dc3-af40-dd9db50ecc0f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}