#s-abbf570d-8795-46c6-ac05-58f32e93e24e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-abbf570d-8795-46c6-ac05-58f32e93e24e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}