#s-bbda65cc-e6db-4029-92a3-65dbf44d35fc #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 154px;
  height: 47px;
  -ms-transform: rotate(0.0deg);
}
#s-bbda65cc-e6db-4029-92a3-65dbf44d35fc #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 155px;
  height: 47px;
  -ms-transform: rotate(0.0deg);
}
#s-bbda65cc-e6db-4029-92a3-65dbf44d35fc #s-Table_1 {
  border-collapse: separate;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=17);
  filter: alpha(opacity=17);
}
#s-bbda65cc-e6db-4029-92a3-65dbf44d35fc #s-Label_50 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-bbda65cc-e6db-4029-92a3-65dbf44d35fc #s-Label_51 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-bbda65cc-e6db-4029-92a3-65dbf44d35fc #s-Label_52 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-bbda65cc-e6db-4029-92a3-65dbf44d35fc #s-Label_53 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D8D8D6;
  -ms-transform: rotate(0.0deg);
}
#s-bbda65cc-e6db-4029-92a3-65dbf44d35fc #s-Label_54 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D8D8D6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-bbda65cc-e6db-4029-92a3-65dbf44d35fc #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-bbda65cc-e6db-4029-92a3-65dbf44d35fc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}