#s-bbda65cc-e6db-4029-92a3-65dbf44d35fc #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbda65cc-e6db-4029-92a3-65dbf44d35fc #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbda65cc-e6db-4029-92a3-65dbf44d35fc #s-Label_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbda65cc-e6db-4029-92a3-65dbf44d35fc #s-Label_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbda65cc-e6db-4029-92a3-65dbf44d35fc #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbda65cc-e6db-4029-92a3-65dbf44d35fc #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbda65cc-e6db-4029-92a3-65dbf44d35fc #s-Label_54 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bbda65cc-e6db-4029-92a3-65dbf44d35fc #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-bbda65cc-e6db-4029-92a3-65dbf44d35fc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}