<html>
  <body>
    <div class="ui-page">
         <div id="t-ad63ef25-6ca8-4f66-afd0-d09d1206b6ab" class="template growth-both firer commentable" name="iPhone4">
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/ad63ef25-6ca8-4f66-afd0-d09d1206b6ab-1418862167207.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/ad63ef25-6ca8-4f66-afd0-d09d1206b6ab-1418862167207-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/ad63ef25-6ca8-4f66-afd0-d09d1206b6ab-1418862167207-ie8.css" /><![endif]-->
           <div id="t-Group_1" class="group firer ie-background commentable">
             <div id="t-Rich_text_20" class="richtext firer commentable" >
               <div class="clipping">
                 <div class="content">
                   <div class="valign">
                     <span id="rtr-t-Rich_text_20_0"></span>
                   </div>
                 </div>
               </div>
             </div>
             <img id="t-Image_79" class="image firer ie-background commentable"   alt="image" src="./images/eaa5129e-80a3-4e69-9fe1-376d1c579f95.png"/>
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>